<% case action %>
<% when :index %>
	<td class='actionbutton'></td>
  <td class='actionbutton'><%= link_to 'Edit', dyn_edit_answer_path(@context, @id, answer) %></td>
  <td class='actionbutton'><%= link_to 'Delete', dyn_answer_path(@context, @id, answer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% when :edit %>
	<td class='actionbutton'></td>
	<td class='actionbutton'><%= link_to 'Back', dyn_question_path(@context, @id, answer.question) %></td>
	<td class='actionbutton'><%= link_to 'Delete', dyn_answer_path(@context, @id, answer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% when :new %>
	<td class='actionbutton'></td>
	<td class='actionbutton'><%= link_to 'Back', dyn_question_path(@context, @id, answer.question) %></td>
	<td class='actionbutton'>Delete</td>
<% end %>